<!doctype html>
<html ng-app="typerApp" class="grey">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53725010-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-53725010-3');
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">    
    
    <script src="scripts/anime.js"></script>
    <script src="scripts/IdleTyper.js"></script>

    <link rel="stylesheet" href="type.css"/>
    <link rel="stylesheet" href="scripts/animate.css"/>

    <title>Typing Incremental</title>
    <link rel="shortcut icon" href="images/favicon.ico" />

  </head>
  <body ng-cloak>        
    <div ng-controller="TyperController as typer">
      <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Version 2! I still have no idea what I'm doing, but you guys give great suggestions.</p>
                <p class="text-muted">Type words to get money. Spend money to gain access to more words. Complete the list to prestige!</p>
                <p class="text-muted">You'll have to type 'A' a bunch to get started.</p>
                <p><a ng-click="typer.deleteSave();" href="#" class="deleteLink">Delete Save</a></p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li class="text-white">Chris.Dudziak@gmail.com</li>
                  <li>
                      <a href="https://discord.gg/xGTzgmh">Discord</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <i class="far fa-keyboard"></i>
              <strong>&nbsp;&nbsp;Typing Incremental</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
      <main>
        <section class="jumbotron text-center">
          <div class="container">
            <!--
              <div style="text-align:center;">|</div>
              <div style="text-align: center; background-color:red;">    
                  <div style="display: inline-block; background-color: blue; font-size: 20px;">AA</div>
                  <div style="display: inline-block; background-color: green; font-size: 10px;">Super</div>
              </div>
            -->
            <div>
              <div class="d-flex align-items-top justify-content-center">
                <div class="container">
                  <div class="row">
                      <div class="lastWord col-3">
                        {{typer.data.lastWord.word | uppercase}}
                        <sup><sup><span ng-if="typer.data.lastWord.typeCount == 0" class="newLastBadge badge badge-pill badge-danger">NEW</span></sup></sup>
                      </div>
                      <div class="currentWord col-6">{{typer.data.currentWord.word | uppercase}}
                        <sup><sup><span ng-if="typer.data.currentWord.typeCount == 0" class="newCurrentBadge badge badge-pill badge-danger">NEW</span></sup></sup>
                      </div>
                      <div class="nextWord col-3">
                        {{typer.data.nextWord.word | uppercase}}
                        <sup><sup><span ng-if="typer.data.nextWord.typeCount == 0" class="newNextBadge badge badge-pill badge-danger">NEW</span></sup></sup>
                      </div>
                  </div>
                </div>
              </div>
              <p>
                Times Seen: {{typer.data.currentWord.typeCount + typer.data.currentWord.mistypeCount}}
              </p>
              <hr>
            </div>

            <span class="blinking-cursor"></span>{{typer.data.word | uppercase}}<span ng-show="!typer.data.correct && !typer.data.incorrect" class="blinking-cursor">|</span>&nbsp;<i ng-if="typer.data.correct" class="fas fa-check-circle green"></i><i ng-if="typer.data.incorrect" class="fas fa-times-circle red"></i>

            
            <br>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-4">
                  Speed: {{typer.getWPM()}} WPM
                  <br/>
                  Speed Multiplier: {{typer.getSpeedBonus() | number : 1}}x
                  <br/>
                  <span ng-if="typer.getWPM() == typer.data.highestWPM && typer.data.highestWPM > 0" class="red record animated pulse infinite">New Record!</span>
                </div>
                <div class="col-4">
                  <h2>{{typer.data.money | currency:undefined:0}}</h2>
                  <div id="floaterDiv" class="floaterDiv">
                    
                  </div>
                </div>
                <div class="col-4">
                  Streak: {{typer.data.streak}}
                  <br/>
                  Streak Multiplier: {{typer.getStreakBonus() | number : 1}}x
                  <br/>
                  <span ng-if="typer.data.streak == typer.data.highestStreak && typer.data.highestStreak > 0" class="red record animated pulse infinite">New Record!</span>
                </div>
              </div>
            </div>
            
            <br>
            <div class="bd-example">
              <div class="btn-group" ng-if="typer.data.unlockedVowels < 6">
                <button ng-disabled="typer.data.money < typer.getVowelCost()" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Buy Vowel - ${{typer.getVowelCost() | number}}
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('E');" ng-click="typer.purchaseVowel('E');">Buy "E"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('I');" ng-click="typer.purchaseVowel('I');">Buy "I"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('O');" ng-click="typer.purchaseVowel('O');">Buy "O"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('U');" ng-click="typer.purchaseVowel('U');">Buy "U"</a>                  
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('Y');" ng-click="typer.purchaseVowel('Y');">Buy "Y"</a>
                </div>
              </div>
              <div class="btn-group" ng-if="typer.data.unlockedConsonants < 20">
                <button ng-disabled="typer.data.money < typer.getConsonantCost()" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Buy Consonant - ${{typer.getConsonantCost() | number}}
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('B');" ng-click="typer.purchaseConsonant('B');">Buy "B"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('C');" ng-click="typer.purchaseConsonant('C');">Buy "C"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('D');" ng-click="typer.purchaseConsonant('D');">Buy "D"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('F');" ng-click="typer.purchaseConsonant('F');">Buy "F"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('G');" ng-click="typer.purchaseConsonant('G');">Buy "G"</a>                  
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('H');" ng-click="typer.purchaseConsonant('H');">Buy "H"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('J');" ng-click="typer.purchaseConsonant('J');">Buy "J"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('K');" ng-click="typer.purchaseConsonant('K');">Buy "K"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('L');" ng-click="typer.purchaseConsonant('L');">Buy "L"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('M');" ng-click="typer.purchaseConsonant('M');">Buy "M"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('N');" ng-click="typer.purchaseConsonant('N');">Buy "N"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('P');" ng-click="typer.purchaseConsonant('P');">Buy "P"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('Q');" ng-click="typer.purchaseConsonant('Q');">Buy "Q"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('R');" ng-click="typer.purchaseConsonant('R');">Buy "R"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('S');" ng-click="typer.purchaseConsonant('S');">Buy "S"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('T');" ng-click="typer.purchaseConsonant('T');">Buy "T"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('V');" ng-click="typer.purchaseConsonant('V');">Buy "V"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('W');" ng-click="typer.purchaseConsonant('W');">Buy "W"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('X');" ng-click="typer.purchaseConsonant('X');">Buy "X"</a>
                    <a class="dropdown-item" href="#" ng-if="typer.displayLetter('Z');" ng-click="typer.purchaseConsonant('Z ');">Buy "Z"</a>
                </div>
              </div>
              <br><br>
              <div class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="Increases max word size by 1 space.">
                <button id="btnSpace" ng-style="{ 'pointer-events' : (typer.data.money < typer.getSpaceCost()) ? 'none' : 'auto' }"  ng-disabled="typer.data.money < typer.getSpaceCost()" ng-if="typer.data.spacePurchased < typer.data.maxSpace" ng-click="typer.purchaseSpace();" type="button" class="btn btn-secondary">
                  Buy Space - ${{typer.getSpaceCost() | number}}
                </button>
              </div>

              <div class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="Increases money earned by $1 per letter.">
                <button id="btnKeyboard" ng-style="{ 'pointer-events' : (typer.data.money < typer.getKeyboardCost()) ? 'none' : 'auto' }" ng-disabled="typer.data.money < typer.getKeyboardCost()" ng-if="typer.data.keyboardPurchased < typer.data.maxKeyboard" ng-click="typer.purchaseKeyboard();" type="button" class="btn btn-secondary">
                  Improve Keyboard - ${{typer.getKeyboardCost() | number}}
                </button>
              </div>

              <div class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="top" title="Increases the chance of getting a word you've never typed correctly by 1%.">
                <button id="btnLuck"  ng-style="{ 'pointer-events' : (typer.data.money < typer.getLuckCost()) ? 'none' : 'auto' }" ng-disabled="typer.data.money < typer.getLuckCost()" ng-if="typer.data.luckPurchased < typer.data.maxLuck" ng-click="typer.purchaseLuck();" type="button" class="btn btn-secondary" >
                  Buy Luck - ${{typer.getLuckCost() | number}}
                </button>
              </div>
            </div>
          </div>   

          <button ng-click="typer.almostFinish()">Almost Finish</button>
        </section>




        <div class="modal fade" id="winModal" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="winModalLabel">{{typer.getModalPageTitle()}}</h5>
              </div>
              <div class="modal-body">
                <div ng-if="typer.data.modalPage == 1">
                  You finished the {{typer.data.currentList}} list, and earned a prestige point!
                  <br><br>
                  Now It's time to to pick the next list and start again, but not before spending those prestige points on some permanent upgrades.
                </div>
                <div ng-if="typer.data.modalPage == 2">
                  Upgrades~ 
                  Prestige Points: {{typer.data.prestigePoints}}
                  <div ng-repeat="upgrade in typer.data.upgrades">
                    <div tabindex="0" data-toggle="tooltip" data-placement="top" title="{{upgrade.description}}">
                      <button ng-disabled="typer.data.prestigePoints >= upgrade.getCurrentCost()" type="button" class="btn btn-secondary" ng-click="typer.purchaseUpgrade(upgrade.code)">{{upgrade.name}} - {{upgrade.getCurrentCost()}}pp</button>
                    </div>
                  </div>
                </div>
                <div ng-if="typer.data.modalPage == 3">
                  Previous List: {{typer.data.currentList}}
                  <br/><br/>
                  
                  <div ng-repeat="list in typer.data.lists">
                    
                      <button type="button" class="btn btn-secondary" ng-click="typer.data.nextList = list.name">Select</button> - 
                      
                      {{list.name}} - Completed {{list.completed}} times. - Difficulty: {{list.difficulty}}/5                    
                  </div>
                  
                  <br/>
                  Selected List: {{typer.data.nextList}}
                </div>
                <div ng-if="typer.data.modalPage == 4">
                  Good Luck~
                </div>
              </div>
              <div class="modal-footer">
                <button ng-if="typer.data.modalPage > 1" ng-click="typer.data.modalPage = typer.data.modalPage - 1;" type="button" class="btn btn-secondary">Back</button>  
                <button ng-if="typer.data.modalPage < 4" ng-disabled="typer.data.modalPage == 3 && typer.data.nextList == ''" ng-click="typer.data.modalPage = typer.data.modalPage + 1;" type="button" class="btn btn-secondary">Next</button>  
                <button ng-if="typer.data.modalPage == 4" ng-click="typer.startNewList();" type="button" class="btn btn-primary" data-dismiss="modal">Start</button>                
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="text-white footer bg-dark text-center">
          <div class="navbar navbar-inverse navbar-dark bg-dark shadow-sm" style="padding: 0px 0px 0px 0px;">
              <div class="container fullWidth">
                <div class="row fullWidth">
                  <div class="col-4 leftStat">Time Played: {{typer.getTimePlayed()}}</div>
                  <div class="col-4 centerStat">{{typer.getWordsTyped() | number}} / {{typer.data.words.length | number}} words found</div>
                  <div class="col-4 rightStat">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFooter" aria-controls="navbarFooter" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  </div>  
                  </div>
              </div>
            </div>

          <div class="collapse bg-dark" id="navbarFooter">
              
              
            <div class="container">
              <div class="row">
                  <div class="col-4 leftStat">{{typer.getTotalWordsTyped() | number}} words typed</div>
                  <div class="col-4 centerStat">{{typer.getUnlockedWords().length | number}} / {{typer.data.words.length | number}} words unlocked</div>
                  <div class="col-4 rightStat">{{typer.getTotalWordsMistyped() | number}} typos</div>
              </div>
            </div>

            <div class="container">
                <div class="row">
                <div class="col-4 leftStat">Most typed : {{typer.getMostTyped().word | uppercase}} - {{typer.getMostTyped().typeCount}} times</div>  
                <div class="col-4 centerStat">Longest word : {{typer.getLongestWord() | uppercase}}</div>
                <div class="col-4 rightStat">Most mistyped : {{typer.getMostMistyped().word | uppercase}} - {{typer.getMostMistyped().mistypeCount}} times</div>  
              </div>                
            </div>

            <div class="container">
                <div class="row">
                <div class="col-4 leftStat">Highest WPM : {{typer.data.highestWPM}}
                  <div ng-click="typer.resetWPM()" class="d-inline-block pointer reset" tabindex="0" data-toggle="tooltip" data-placement="top" title="Reset max WPM to 0.">
                    <i class="fas fa-times-circle red fa-xs"></i>
                  </div>  
                </div>                      
                <div class="col-4 centerStat"></div>
                <div class="col-4 rightStat">Highest Streak : {{typer.data.highestStreak}} 
                  <div ng-click="typer.resetStreak()" class="d-inline-block pointer reset" tabindex="0" data-toggle="tooltip" data-placement="top" title="Reset max streak to 0.">
                    <i class="fas fa-times-circle red fa-xs"></i>
                  </div>  
                </div>  
              </div>                
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-4 leftStat">Spaces Purchased: {{typer.data.spacePurchased | number}}</div>
                    <div class="col-4 centerStat">Luck Purchased: {{typer.data.luckPurchased | number}}</div>
                    <div class="col-4 rightStat">Keyboard Purchased: {{typer.data.keyboardPurchased | number}}</div>
                </div>
              </div>
        
            <!--spaces, luck, top 3 typed/mistyped/longest-->
          </div>
      </footer>
    </div>
  </body>
</html>