.red {
    color: #dc3545;
}
.green {
    color: green;
}
.orange {
    color: orange;
    
}
.bottom-spacer {
  padding-bottom:1px;
}
.stat-card .card-title {
  padding-top:10px;
}
.stat-card {
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-color:dimgray;
}
.color-display {
  height:50px;
  width:50px;
}
.stat-card  h5 {
  border-bottom: 1px solid dimgrey;
  padding-bottom:10px;
}
.stat-card .card-text {
  line-height: 1.5;
}
.stat-row {
  height:40px;
  padding-right:10px;
  padding-left:10px;
  margin-bottom:15px;
}
.bottom-stat-row {
  padding-bottom: 15px;
}
.discord-link {
  width:200px;
}
.no-margin-right {
  margin-right:0px !important;
}
.no-margin-left {
  margin-left:0px !important;
}
.dropdown-custom {
  position: absolute; 
  will-change: transform; 
  top: 0px; 
  left: 0px; 
  transform: translate3d(0px, 38px, 0px);
}
.no-padding {
  padding: 0px 0px 0px 0px;
}
.card-deck .card {
  margin-bottom: 15px;
}
.list-points {
  align-self: flex-end;
}
.modal-card {
  margin-bottom: 15px;
}
 .grey {
     background: #e9ecef;
 }
 .disabled {
  pointer-events: all !important;
}
 .deleteLink {
  color: white; 
 }

 .pointer {
   cursor: pointer;
 }
.reset {
  height:10px;
  position: relative;
}
 .deleteLink:hover{
  color: inherit; /* Inherits color property from its parent */
}
.floaterDiv {
  color:green;
  align-content: center;
  font-size: 24px;
  margin-top:-50px;
}

.floaterDiv>.floatingMoney {
  position: absolute;
  left:45%;
}

.fullWidth {
  width:100% !important;
}

.leftStat {
  text-align: left;
}

.centerStat {
  text-align: center;
}

.rightStat {
  text-align: right;
}
.newBadge {
    margin-left: -15px;
}
.newCurrentBadge {
    margin-left: -15px;
    font-size: 15px;
}
.newLastBadge, .newNextBadge {
    margin-left: -8px;
    font-size: 8px;
}

.currentWord {
  font-size:64px;
  font-weight: 600;
  text-align: center;
}
.nextWord, .lastWord {
  font-size:32px;
  font-weight: 600;
  color: slategray;
}

.nextWord {
  text-align: right;
}
.lastWord {
  text-align: left;
}

.record {
  font-weight: bold;
  display: block
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  
  .blinking-cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }


